<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/Stepik_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
students_perfomance = pd.read_csv("/content/StudentsPerformance.csv")

In [0]:
students_perfomance.tail() #выбрать последние 5

In [0]:
students_perfomance.describe() #получает общую статистику по цисловым колонкам

In [0]:
students_perfomance.dtypes #получает типы колонок

In [0]:
students_perfomance.shape  #количество строк и колонок

In [0]:
students_perfomance.groupby("gender").aggregate({"writing score" : "mean"}) #группировка колонки по другой колонке

In [0]:
students_perfomance.head() #выбрать первые 5

In [0]:
students_perfomance.iloc[0:5,0:3]  #выбрать нужные строки и колонки - диапазоны

In [0]:
students_perfomance.iloc[[0,2,5],[0,2,-1]] #выбрать нужные строки и колонки - конкретные

In [0]:
students_perfomance_with_names = students_perfomance.iloc[[0,3,4,7,8]]

In [0]:
students_perfomance_with_names.index = ["Georgiy", "Sanya", "Lexa", "Diman", "Stason"] #присвоить индексам имена

In [0]:
students_perfomance_with_names.loc[["Georgiy","Diman"] , ["gender","writing score"]]  #отбор по именам индексов и именам колонок

In [23]:
students_perfomance_with_names.iloc[:,0] #вернуть Series со всеми строками из 0 колонки

Georgiy    female
Sanya        male
Lexa         male
Diman        male
Stason       male
Name: gender, dtype: object

In [0]:
my_series1 = pd.Series([1,2,3],index=["Georgiy", "Sanya", "Lexa"])  #до этого были dataFrame типы. А это тестовый пример типа Series
my_series2 = pd.Series([4,5,6],index=["Georgiy", "Sanya", "Lexa"])

In [11]:
pd.DataFrame({"col_name_1": my_series1, "col_name_2": my_series2}) #создание таблички DataFrame,которая сложена из нескольких массивов типа Series

         col_name_1  col_name_2
Georgiy           1           4
Sanya             2           5
Lexa              3           6

In [25]:
students_perfomance_with_names[["gender"]] #с двумя [] - DataFrame, с одними - Series. В одном случае отделить кусок от таблицы,в другом - показать,что в колонке.
#Работают по разному с методами,например с shape

   gender
0  female
3    male
4    male
7    male
8    male