<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/1_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
event_data = pd.read_csv('/content/drive/My Drive/stepik/1_10/event_data_train.csv')

In [0]:
event_data['date'] = pd.to_datetime(event_data.timestamp,unit='s') #создать новую колонку даты и привести её к формату дата/время

In [0]:
event_data.date.min() #Начальная дата курса

In [0]:
event_data.date.max() #Конечная дата курса

In [0]:
event_data['day'] = event_data.date.dt.date #вычленить конкретный день в отдельную колонку

In [27]:
event_data.head()

   step_id   timestamp      action  user_id                date         day
0    32815  1434340848      viewed    17632 2015-06-15 04:00:48  2015-06-15
1    32815  1434340848      passed    17632 2015-06-15 04:00:48  2015-06-15
2    32815  1434340848  discovered    17632 2015-06-15 04:00:48  2015-06-15
3    32811  1434340895  discovered    17632 2015-06-15 04:01:35  2015-06-15
4    32811  1434340895      viewed    17632 2015-06-15 04:01:35  2015-06-15