<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/Stepik_DS_1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
students_perfomance = pd.read_csv("/content/StudentsPerformance.csv")

In [4]:
students_perfomance.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]