<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/1_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
students_performance = pd.read_csv("/content/StudentsPerformance.csv")

In [0]:
mean_writing_score = students_performance["writing score"].mean() #получить среднее значение

In [0]:
students_performance.loc[students_performance["writing score"] > mean_writing_score] #отфильтровать строки, где значения колонки выше его среднего значения

In [0]:
students_performance.loc[students_performance.gender == "female" , ["gender","writing score"]] #отобрать по фильтру gender == "female" и вывести 2 колонки. 
#loc использовать,если нужно получить не все колонки

In [0]:
query_m = (students_performance['writing score'] > 90) & (students_performance.gender == 'female') #2 фильтра,& - и  + условия должны быть в скобках,така это наборы Series

In [0]:
students_performance[query_m].head()

In [0]:
len(students_performance[students_performance.lunch =="free/reduced"]) #возврашщает число строк с заданным условием

In [0]:
students_performance = students_performance.rename(columns={"parental level of education" : "parental_level_of_education","test preparation course" : "test_preparation_course",
                                                   "math score" : "math_score","reading score" : "reading_score","writing score" : "writing_score"})

In [4]:
students_performance.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [0]:
students_performance.query("gender == 'male' & writing_score > 90") # запрос текстовый.Более удобный вариант выборки данных.Для сравнения строк использовать одинарные кавычки внутри строки

In [0]:
writing_score_query = 99  #использование параметра запроса

In [0]:
students_performance.query("writing_score > @writing_score_query") #использование параметра запроса с помощью @

In [0]:
score_columns = [i for i in list(students_performance) if "score" in i] # вставить колонки в список,которые содержат 'score'. Более ручной способ для сложных запросов.Есть аналог filter у pd

In [0]:
students_performance[score_columns].head()

In [9]:
students_performance.filter(like="score",axis=1) #аналог ручному способу отбора колонок.Содержат 'score'.Axis = 1 like для колонок, Axis = 0 like для строк

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]