<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/1_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
students_perfomance = pd.read_csv("/content/StudentsPerformance.csv")

In [0]:
students_perfomance.head()

In [0]:
students_perfomance.groupby("gender").mean() #Группировка колонки,среднее значение числовых колоных по отношению к полу

In [0]:
students_perfomance.groupby("gender").aggregate({"math score":"mean","reading score":"mean"}) #детализация числовых колонок и группировка по ним.В качестве индекса группируемая колонка

In [0]:
#датафрейм с несколькими индексами
mean_scores_ind = students_perfomance.groupby(["gender","race/ethnicity"]) \
    .aggregate({"math score":"mean","reading score":"mean"}) \
    .rename(columns = {"math score" : "mean_math_score","reading score" : "mean_reading_score"})

In [0]:
mean_scores_ind.loc[[("female","group A"),("female","group B")]] #отобрать по индекса

In [0]:
# \ - продолжение строки кода,условие на то,чтобы индекса создался отдельно,а не по группируемым колонкам,указывается по каким колонкам будет среднее,переименовать колонки
mean_scores = students_perfomance.groupby(["gender","race/ethnicity"],as_index=False) \
    .aggregate({"math score":"mean","reading score":"mean"}) \
    .rename(columns = {"math score" : "mean_math_score","reading score" : "mean_reading_score"})

In [0]:
students_perfomance = students_perfomance.rename(columns={"math score":"math_score","reading score":"reading_score","writing score":"writing_score"}) #переименовать колонку

In [0]:
students_perfomance.math_score.nunique() #число уникальных значений

In [0]:
students_perfomance.groupby(["gender","race/ethnicity"]).math_score.nunique() #уникальные значения по сгруппированным колонкам

In [0]:
#отсортировать по колонкам,ascending false - по убыванию,по-умолчанию по возрастанию. Задача - получить топ 5 юношей и топ 5 девушек по математическому баллу
students_perfomance.sort_values(["gender","math_score"],ascending=False) \
    .groupby("gender").head()

In [0]:
#добавить новую колонку.Значение в ней сумма других колонок
students_perfomance["total_score"] = students_perfomance.math_score + students_perfomance.reading_score + students_perfomance.writing_score

In [0]:
students_perfomance.head()

In [0]:
students_perfomance = students_perfomance.assign(total_score_log = np.log(students_perfomance.total_score)) #создать колонку total_score_log,применив к total_score функцию логарифма

In [0]:
students_perfomance.head()

In [108]:
students_perfomance.drop(["total_score","total_score_log"],axis="columns") #удалить колонки

     gender race/ethnicity  ... reading_score writing_score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]