<a href="https://colab.research.google.com/github/KotcherP/Stepik-DS/blob/master/Stepik_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
students_perfomance = pd.read_csv("/content/StudentsPerformance.csv")

In [0]:
students_perfomance.tail() #выбрать последние 5

In [0]:
students_perfomance.describe() #получает общую статистику по цисловым колонкам

In [0]:
students_perfomance.dtypes #получает типы колонок

In [0]:
students_perfomance.shape  #строк и колонок

In [0]:
students_perfomance.groupby("gender").aggregate({"writing score" : "mean"}) #группировка колонки по другой колонке

In [21]:
students_perfomance.head() #выбрать первые 5

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [0]:
students_perfomance.iloc[0:5,0:3]  #выбрать нужные строки и колонки - диапазоны

In [22]:
students_perfomance.iloc[[0,2,5],[0,2,3]] #выбрать нужные строки и колонки - конкретные

   gender parental level of education     lunch
0  female           bachelor's degree  standard
2  female             master's degree  standard
5  female          associate's degree  standard